DATABASE_URL=postgresql://username:password@localhost:port/databasename
EMAIL_ACCOUNT=
EMAIL_PASSWORD=
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=ap-southeast-2
AWS_AVATAR_S3_BUCKET=your-s3-bucket-name
AWS_COVER_S3_BUCKET=your-s3-bucket-name
AWS_S3_BUCKET=your-s3-bucket-name
PORT=3000
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BT_merchantId=
BT_publicKey=
BT_privateKey=
