DATABASE_URL=postgresql://username:password@localhost:port/databasename
EMAIL_ACCOUNT=
EMAIL_PASSWORD=
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=ap-southeast-2
AWS_S3_BUCKET=your-s3-bucket-name

JWT_SECRET=